{% extends 'base.html.twig' %}

{% block title %}{{ 'page.dashboard.title'|trans }}{% endblock %}

{% block body %}

{{ 'page.dashboard.welcome'|trans }} {{ user.nickname }}!<br><br>

    <a href="{{ path('app_quiz_create') }}">
        {{ 'page.dashboard.createNewQuiz'|trans }}
    </a><br><br>

{{ 'page.dashboard.myQuizzes'|trans }}<br><br>

    {% for quiz in myQuizzes %}
        {{ quiz.title }}<br>
        {{ quiz.description }}<br>
        {{ 'page.dashboard.quiz.numberOfQuestions'|trans }}: {{ quiz.numberOfQuestions }}<br>
        {{ 'page.dashboard.quiz.shareLink'|trans }}<br>
        <a href="{{ path('app_quiz_session_start', {'quiz': quiz.id, 'style': 'simple'}) }}">
            {{ 'page.dashboard.startQuizSimple'|trans }}
        </a> <br><br>
        <a href="{{ path('app_quiz_session_start', {'quiz': quiz.id, 'style': 'snowball'}) }}">
            {{ 'page.dashboard.startQuiz'|trans }}
        </a> <br><br>
        <a href="{{ path('app_quiz_detail', {quiz: quiz.id}) }}">
            {{ 'page.dashboard.quiz.detailLink'|trans }}
        </a> <br><br>

    {% endfor %}<br>

    {{ 'page.dashboard.mostPlayedQuizzes'|trans }}<br><br>

    {% for quiz in mostPlayedQuizzes %}
        {{ quiz.title }}<br>
        {{ quiz.description }}<br>
        {{ 'page.dashboard.quiz.numberOfQuestions'|trans }}: {{ quiz.numberOfQuestions }}<br>
        {{ 'page.dashboard.quiz.shareLink'|trans }}<br>
        <a href="{{ path('app_quiz_session_start', {'quiz': quiz.id, 'style': 'simple'}) }}">
            {{ 'page.dashboard.startQuizSimple'|trans }}
        </a> <br><br>
        <a href="{{ path('app_quiz_session_start', {'quiz': quiz.id, 'style': 'snowball'}) }}">
            {{ 'page.dashboard.startQuiz'|trans }}
        </a> <br><br>
        <a href="{{ path('app_quiz_detail', {quiz: quiz.id}) }}">
            {{ 'page.dashboard.quiz.detailLink'|trans }}
        </a> <br><br>

    {% endfor %}<br>

    {{ 'page.dashboard.bestRatedQuizzes'|trans }}<br><br>

    {% for quiz in bestRatedQuizzes %}
        {{ quiz.title }}<br>
        {{ quiz.description }}<br>
        {{ 'page.dashboard.quiz.numberOfQuestions'|trans }}: {{ quiz.numberOfQuestions }}<br>
        {{ 'page.dashboard.quiz.shareLink'|trans }}<br>
        <a href="{{ path('app_quiz_session_start', {'quiz': quiz.id, 'style': 'simple'}) }}">
            {{ 'page.dashboard.startQuizSimple'|trans }}
        </a> <br><br>
        <a href="{{ path('app_quiz_session_start', {'quiz': quiz.id, 'style': 'snowball'}) }}">
            {{ 'page.dashboard.startQuiz'|trans }}
        </a> <br><br>
        <a href="{{ path('app_quiz_detail', {quiz: quiz.id}) }}">
            {{ 'page.dashboard.quiz.detailLink'|trans }}
        </a> <br><br>

    {% endfor %}<br>

{{ 'page.dashboard.discoverQuizzes'|trans }}<br><br>

    {% for quiz in availableQuizzes %}
        {{ quiz.title }}<br>
        {{ quiz.description }}<br>
        {{ 'page.dashboard.quiz.numberOfQuestions'|trans }}: {{ quiz.numberOfQuestions }}<br>
        {{ 'page.dashboard.quiz.shareLink'|trans }}<br>
        <a href="{{ path('app_quiz_session_start', {'quiz': quiz.id, 'style': 'simple'}) }}">
            {{ 'page.dashboard.startQuizSimple'|trans }}
        </a> <br><br>
        <a href="{{ path('app_quiz_session_start', {'quiz': quiz.id, 'style': 'snowball'}) }}">
            {{ 'page.dashboard.startQuiz'|trans }}
        </a> <br><br>
        <a href="{{ path('app_quiz_detail', {quiz: quiz.id}) }}">
            {{ 'page.dashboard.quiz.detailLink'|trans }}
        </a> <br><br>

    {% endfor %}<br>

{{ 'page.dashboard.myQuizSessionsInProgress'|trans }}<br><br>

    {% for quizSession in myQuizSessionsInProgress %}
        {% set quiz = quizSession.quiz %}
        {{ quiz.title }}<br>
        - {{ quiz.description }}<br>
        level {{ quizSession.currentLevelNumber }} / {{ quizSession.numberOfLevelsAtStart }}
        <a href="{{ path('app_quiz_session_get_question', {quizSession: quizSession.id}) }}">
            {{ 'page.dashboard.quizSession.continueLink'|trans }}
        </a> <br><br>
    {% endfor %}<br>

{{ 'page.dashboard.myFinishedQuizSessions'|trans }}<br><br>

    {% for quizSession in myFinishedQuizSessions %}
        {% set quiz = quizSession.quiz %}
        {{ quiz.title }}<br>
        - {{ quiz.description }}<br>
        <a href="{{ path('app_quiz_session_start', {'quiz': quiz.id, 'style': 'simple'}) }}">
            {{ 'page.dashboard.startQuizSimple'|trans }}
        </a> <br><br>
        <a href="{{ path('app_quiz_session_start', {'quiz': quiz.id, 'style': 'snowball'}) }}">
            {{ 'page.dashboard.startQuiz'|trans }}
        </a> <br><br>
        {% if quizSession.result is not null %}
            <a href="{{ path('app_quiz_session_results', {quizSession: quizSession.id}) }}">
                <i class=""></i>{{ 'page.dashboard.results'|trans }}
            </a>
        {% endif %}
    {% endfor %}<br>

{% endblock %}
